body {
	font-family:'Play', sans-serif;
	font-size: 15px;
}
h1 {
	font-family:'Oswald', sans-serif;
	padding-bottom: 40px;
}
h2 {
	font-family:'Oswald', sans-serif;
}
h3 {
	font-family:'Oswald', sans-serif;
}
h4 {
	font-family:'Oswald', sans-serif;
	padding-left: 30px;
}
h5 {
	font-family:'Oswald', sans-serif;
}
.content p {
	padding-left: 30px;
	padding-right: 30px;
}
.content-img {
	height: 200px;
	width: auto;
	padding-bottom: 10px;
}
#main {
	background-image: url(../img/barbifon.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
#catalog {
	background-image: url(../img/catalog.jpg);
	background-attachment: fixed;
}
#twenty_one {
	background-image:url(../img/21bq.jpg);
	background-attachment: fixed;
	background-size:100%;
}
#top-img-twenty_one {
	background-image: url(../img/top-img-twenty_one.png);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
#zalgo {
	background-image:url(../img/zalgo.jpg);
	background-attachment: fixed;
	background-size:100%;
}
#top-img-zalgo {
	background-image: url(../img/top-img-zalgo.jpg);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}

#top-img-zalgo h1 {
	color: white;
	font-size: 50px;
}
#top-img-zalgo em {
	color: white;
}
.des {
	text-align: start;
}
#quote {
	text-align: start;
}
#default {
	background-image: url(../img/defbq.jpg);
	background-attachment: fixed;
}
#top-img-def {
	background-image: url(../img/top-img-def.png);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
#top-img-def h1 {
	color: white;
	font-size: 50px;
}
#top-img-def em {
	color: white;
}
#netstlk {
	background-image: url(../img/catalog.jpg);
	background-attachment: fixed;
}

#top-img-netstlk {
	background-image: url(../img/netstalker-mini.png);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
#top-img-netstlk h1 {
	color: white;
	font-size: 50px;
}
#top-img-netstlk em {
	color: white;
}	
#barbi {
	background-image: url(../img/barbi-bq.jpg);
	background-attachment: fixed;
}
#top-img-barbi {
	background-image: url(../img/top-img-barbi.png);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
#top-img-barbi h1 {
	color: white;
	font-size: 50px;
}
#top-img-barbi em {
	color: white;
}
#Squidward {
	background-image: url(../img/Squidwardbq.jpg);
	background-attachment: fixed;
}
#top-img-squid {
	background-image: url(../img/top-img-sqwid.jpg);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
#top-img-squid h1 {
	color: white;
	font-size: 50px;
}
#top-img-squid em {
	color: white;
}
#mouse {
	background-image: url(../img/mousebq.png);
	background-attachment: fixed;
}
#top-img-mouse {
	background-image: url(../img/top-img-mouse.png);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
#top-img-mouse h1 {
	color: white;
	font-size: 50px;
}
#top-img-mouse em {
	color: white;
}
#windows {
	background-image: url(../img/windowsbq.jpg);
	background-attachment: fixed;
}
#top-img-windows {
	background-image: url(../img/top-img-windows.jpg);
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
#top-img-windows h1 {
	color: white;
	font-size: 50px;
}
#top-img-windows em {
	color: white;
}			
.block-menu {
	display: inline-block;
	padding-top: 10px;
	height: auto;
	box-shadow:0 2px 6px 0 rgba(0,0,0,.15);; 
	font-size: 14px;
	margin-bottom: 30px;
}
.index-block-menu {
	display: inline-block;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	height: 185px;
	box-shadow:0 10px 10px -5px rgba(0,0,0,.15);; 
	font-size: 14px;
	/*margin-bottom: 30px;*/
}
.index-block-menu h4 {
	background: black;
	color: white;
	height: 31px;
	padding-top: 5px;
}
/*.index-block-menu p {
	text-shadow: 0px 0px 1px #000;
}*/
.catalog-menu {
	background-image: url(../img/catalog.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
/*.catalog-menu h4 {
	background: #3fd40f;
	color: black;
	height: 31px;
	padding-top: 5px;
}*/
.twenty-one-menu {
	background-image: url(../img/21bq.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
/*.twenty-one-menu h4 {
	background: #d80303;
	color: black;
	height: 31px;
	padding-top: 5px;
}*/
.keepers-menu {
	background-image: url(../img/.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
/*.keepers-menu h4 {
	background: #337ab7;
	color: black;
	height: 31px;
	padding-top: 5px;
}*/
.zalgo-menu {
	background-image: url(../img/zalgo.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
/*.zalgo-menu h4 {
	background: #337ab7;
	color: black;
	height: 31px;
	padding-top: 5px;
}*/
.white {
	color: white;
}
.no-padding {
	padding-right: 0px;
	padding-left: 0px;
}
.block-menu p {
	padding-left:5px;
	padding-right: 5px;
}
.block-link {
	text-decoration: none;
	color: #333; 
}
a:hover {
	color:#23c28a;
}
#logo {
	width: 730px;
	height: auto;
	padding-top: 10px;
}
.content {
	height: auto;
	background-color: #fff;
	padding-bottom: 30px;
}
.content h1 {
	padding-top: 50px;
}
.deeb-web-img {
	width: 900px;
	height: auto;
	padding: 20px;
}
hr  {
    border: none; /* Убираем границу для браузера Firefox */
    color: gray; /* Цвет линии для остальных браузеров */
    background-color: gray; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
    size: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 93%;
   }
figure {
	padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
}
figcaption {
	margin: 0 auto 5px;
	color: gray;
}
.red {
	background: #d80303;
	color: black;
}
.censor {
	background: #000;
	color: #000;
}
.loger {
	position: absolute;
	right: 5px;
	bottom: 0px;
}
.flow {
	float: right;
	margin: 7px 30px 7px 7px; /* Отступы вокруг картинки */
}
.sky {
	width: 800px;
	height: 250px;
	background-color: #F6F5F4;
}
.confession {
	background-color: #222A28;
	height: 1000px;
}