#main {
  background-image: url('img/fon.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
}
#netstlk {
  background-image: url('img/netfon.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
}
#Jeff {
	  background-image: url('img/Jefon.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}
#barbi {
	 background-image: url('img/barbifon.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}
#Squidward {
	 background-image: url('img/Squidwardfon.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}
#Suicidemouse {
    background-image: url('img/Suicidemouse.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}
#Windows95 { 
    background-image: url('img/windowsfon.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
    font-family:'Play', sans-serif;

}

.W95 {
  width: 900px
}
.container {
  width: 100%;
  text-align: center;
}
.containerbarbi {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
#jeffjpg {
  width: 550px;
  height: auto;
}
#jeffjpg2 {
  width: 300px;
  height: auto;
}
#barbijpg {
  width: 300px;
  height: auto;
}
#Squidwardjpg {
  width: 300px;
  height: auto;
}
#logo {
  width: 550px;
  height: auto;
}
.greenstory {
  width: 900px;
  height: auto;
  margin:0 auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 50px 5px rgba(10, 166, 38, 0.8);
  border-color: rgba(32, 179, 59, 1);
  border-style: outset;
  border-width: 4px;  
}
#dima-loh{
  color: blue;
}
.redstory {
  width: 900px;
  height: auto;
  margin:0 auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 50px 5px #cc1616;
}
.graystory {
  width: 900px;
  height: auto;
  margin:0 auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 50px 5px #303030;
}
h1 {
	padding-top: 15px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	text-shadow: 4px 3px 3px rgba(10, 166, 38, 0.8);
}
.redh1 {
	padding-top: 15px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	text-shadow: 4px 3px 3px #cc1616;
}
.grayh1 {
  padding-top: 15px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-shadow: 4px 3px 3px #303030;
}
h2 {
	padding-top: 10px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	text-shadow: 4px 3px 3px rgba(10, 166, 38, 0.8);
}	
b {
	font-family: 'Play', sans-serif;
}
hr {
	background-color: black;
	size: 3px;
}
p {
	padding-left: 30px;
	padding-right: 30px;
	font-family:'Play', sans-serif;
}
.menu1 {
	display: inline-block;
	max-width: 126.1px;
	text-align: center;
	margin: 0 auto;
    padding-left: 30px;
    padding-top: 5px;
}
.menu {
	display: inline-block;
	max-width: 126.1px;
	text-align: center;
	margin: 0 auto;
    padding-left: 15px;
    padding-top: 5px;
}
figcaption {
	text-align: center;
	font-family: 'Play', sans-serif
}
.icon {
	width: 126.1px;
	height: 126.1px;
	border-color: rgba(32, 179, 59, 1);
  	border-style: outset;
  	border-width: 3px;


}
#Tor {
	width: 300px;
	height: auto;
}
